<!-- <style type="text/css">
    .slick-arrow {
        display: none;
    }
</style> -->
<div class="view-our-range">
    <h1>D'Chocolatier</h1>
    <div class="slider-wrapper">
        <div class="ribbon"></div>
        <slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded" dots="true">
            <div ng-repeat="i in homePhotos track by $index" style="height:400px; width: 100%; overflow: hidden">
                <img ng-src="{{i.photo}}">
                <!-- <div class="" ng-include="'tpl2.html'"></div> -->
            </div>
        </slick>
    </div>
    <p>{{homedesc}}
    </p>
    <!-- <a class="link-3 range" href="#">View Our Range!</a> -->
</div>
<!-- <div ng-include="'featured_categories.html'"></div>