.link-h4,.news-and-events-small h4, .event-a, 
.news-and-events h5, .creation-a, .news-a, .actual h4, .big-galery h4{
	color:#8c2d29;
}
#header{
background:url("header-top.png") no-repeat;
}
#header-wrap{
	background:url("header-top-repeat.png") repeat-x;
}
#left-sidebar{
	background: url("menu-frame.png") no-repeat;
}
#footer{
	background: url("footer.png") no-repeat;
}
#footer-wrap{
	background: url("footer-repeat.png") repeat-x;	
}
#copyright{
	background:url("copyright.jpg") no-repeat;
}
#copyright-wrap{
	background:url("copyright-repeat.jpg") repeat-x;
}
.youtube{
	background:url("you-tube.png") center no-repeat;
}
.facebook{
	background:url("facebook.png") center no-repeat;
}
.tweeter{
	background:url("twitter.png") center no-repeat;
}
.addres{
	background: url('address-icon.png') top left no-repeat;
	
	}
.phone{
	background: url('phone-icon.png') top left no-repeat;
	
}
.email{
	background: url('mail-icon.png') top left no-repeat;
	
}
.tweeter-date{
	color:  #d86161;
}
.image-div{
	border: 1px solid #010303;
}
#copyr {	
	color:#ffe5bc;
}

.footer-menu ul li a{
	color: #ffe5bc;
}
.tweeter-update a, .working-days,.email,
.latiest-blog-posts p{
	color:#C37100;
}
